* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /* changed class selector to the attribute selector 'header' */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 em {
    color: #d9dcd6;
    font-style: normal;
}

header nav { /* changed class selector to the attribute selector 'nav' */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {   /* consolidated the li CSS rule into this one */
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

section { /* changed class selector to the attribute selector 'section' */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside { /* changed class selector to the attribute selector 'aside' */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside article { /* consolidated 3 redundant CSS classes into '.benefit' class */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h2 { /* consolidated 3 redundant CSS classes into '.benefit' class */
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.17em; /* added CSS rule to fix font-size after changing h3 to h2 */
}

.benefit img { /* consolidated 3 redundant CSS classes into '.benefit' class */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

section article { /* removed 3 redundent class selectors; consolidated into a single attribute selector */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

section article img { /* removed 3 redundent class selectors; consolidated into a single attribute selector */
    max-height: 200px;
}

section article h2 { /* removed 3 redundent class selectors; consolidated into a single attribute selector */
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /* changed class selector to the attribute selector 'footer' */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

footer h2 {
    font-size: 20px;
}